{% extends 'base.html' %}
{% load static %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'matches/css/matches.css' %}">
{% endblock %}

{% block page_header %}    
    <h1 class="text-center mt-5 mb-3">Game Admin</h1>    
{% endblock %}

{% block content %}    
    <div class="container">
    <div class="match-overlay"></div>
        <!-- Page Subheading -->        
        <div class="row">
            <div class="col-12 col-md-8 col-lg-6 mt-5">
                <h3 class="text-center">Add your Travel Expenses
                    <span class="ml-3">
                        <i class="fas fa-car-side"></i>
                    </span>
                </h3>
                <hr>
            </div>
        </div>
        <div class="row">
            <!-- Form to allow match officials to add travel expenses -->
            <div class="col-12 col-md-8 col-lg-6">
                <div class="row justify-content-center">
                    <div class="col-12 col-md-10 match my-5 border-green rounded-3">
                        <form method="POST" name="trav-exp" action="{% url 'add_travel' match.id %}" class="form my-5 mx-3">
                            {% csrf_token %}
                            {{ form | crispy }}
                            <div class="text-center">
                                <a class="btn red-btn rounded-3 mr-3" href="{% url 'matches' %}">Cancel</a>
                                <button class="btn green-btn rounded-3" type="submit">Add Expense</button>                                
                            </div>
                        </form>
                    </div>                    
                </div>                
            </div>        
            <!-- Visual Summary of the teams and date -->
            <div class="col-12 col-md-4 col-lg-6">
                <div class="row match mb-3 align-items-center border-green mt-md-5">
                    <div class="col">
                        <div class="row">
                            <div class="col-4 col-lg-2 team text-center">
                                {% if match.home_team.club_name.club_badge %}
                                    <img class="club-badge image-fluid w-100"
                                        src="{{MEDIA_URL}}{{ match.home_team.club_name.club_badge }}"
                                        alt="match.home_team.club_name">
                                {% else %}
                                    <img class="club-badge image-fluid" src="{{ match.home_team.club_name.club_badge_url }}"
                                        alt="match.home_team.club_name">
                                {% endif %}
                            </div>
                            <div class="col-8 col-lg-3 text-center my-auto">
                                <p>{{ match.home_team }}</p>                         
                            </div>
                            <div class="col-sm-12 col-lg-2 text-center my-auto">
                                <p><strong>VS</strong></p>
                            </div>
                            <div class="col-8 col-lg-3 text-center my-auto">
                                <p>{{ match.away_team }}</p>                        
                            </div>
                            <div class="col-4 col-lg-2 text-center">
                                {% if match.away_team.club_name.club_badge %}
                                    <img class="club-badge image-fluid w-100"
                                        src="{{MEDIA_URL}}{{ match.away_team.club_name.club_badge }}"
                                        alt="match.away_team.club_name">
                                {% else %}                        
                                    <img class="club-badge image-fluid" 
                                        src="{{ match.away_team.club_name.club_badge_url }}"
                                        alt="match.away_team.club_name">
                                {% endif %}
                            </div>
                        </div>
                        <div class="row mt-3">
                            <div class="col-12 text-center">
                                <p>{{ match.date_time }}</p>
                            </div>
                        </div>                        
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Back to Fixtures/Match buttons -->
    <div class="row">
        <div class="col-12 text-center mb-5">
            <a class="btn green-btn" href="{% url 'matches' %}">Back to Fixtures</a>
                    <a class="btn blue-btn" href="{% url 'match_detail' match.id %}">Back to Match</a>
        </div>
    </div>
    
{% endblock %}


