{% extends 'base.html' %}
{% load static %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'matches/css/matches.css' %}">
{% endblock %}

{% block page_header %}    
    <h1 class="text-center mt-5 mb-3">Game Admin</h1>    
{% endblock %}

{% block content %}    
    <div class="match-overlay"></div>
    <div class="container">
        <div class="row">
            <div class="col-12 col-md-6 mt-5">
                <h3 class="text-center sub-heading">Create a New Match
                    <span class="ml-3">
                        <i class="fas fa-futbol"></i>
                    </span>
                </h3>
                <hr>
            </div>
        </div>
        <div class="row">
            {{ teams }}            
            <!-- Form to facilitate new Match creation -->
            <div class="col-12 col-md-8 col-lg-6 match my-5 border-green rounded-3">
                <form method="POST" id="matchForm" action="{% url 'add_match' %}" data-teams-url="{% url 'ajax_load_teams' %}" class="form my-5 mx-3">
                    {% csrf_token %}
                    {{ form | crispy }}                    
                    <div class="text-center">
                        <a class="btn red-btn rounded-3 mr-3" href="{% url 'matches' %}">Cancel</a>
                        <button class="btn green-btn rounded-3" type="submit">Add Match</button>
                    </div>
                </form>
            </div>            
        </div>
    </div>
    
{% endblock %}

{% block postloadjs %}
{{ block.super }}
<!-- Chained dropdown JS adapted from
https://simpleisbetterthancomplex.com/tutorial/2018/01/29/how-to-implement-dependent-or-chained-dropdown-list-with-django.html -->
    <script>
        $("#id_age").change(function () {
            var url = $("#matchForm").attr("data-teams-url");
            var ageId = $(this).val();               

            $.ajax({
                url: url,
                data: {
                    'age': ageId
                },            
                success: function (data) {
                    $("#id_home_team").html(data);
                    $("#id_away_team").html(data);                
                }
            });
        });        
    </script>
{% endblock %}
