{% extends 'base.html' %}
{% load static %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'matches/css/matches.css' %}">
{% endblock %}

{% block page_header %}    
    <h1 class="text-center mt-5 mb-3">Game Admin</h1>    
{% endblock %}

{% block content %}    
    <div class="match-overlay"></div>
    <div class="container">
                
        <div class="row">
            <div class="col-12 col-md-6 mt-5">
                <h3 class="text-center sub-heading">Create a New Team
                    <span class="ml-3">
                        <i class="fas fa-users"></i>
                    </span>
                </h3>
                <hr>
            </div>
        </div>
        <div class="row">
            <div class="col-12 col-md-8 col-lg-6 match my-5 border-green rounded-3">
                <form method="POST" id="new-team" action="{% url 'add_team' %}" class="form my-5 mx-3" enctype="multipart/form-data">
                    {% csrf_token %}
                    {{ form | crispy }}
                    <div class="text-center">
                        <a class="btn red-btn rounded-3 mr-3" href="{% url 'matches' %}">Cancel</a>
                        <button class="btn green-btn rounded-3" type="submit">Add Team</button>
                    </div>
                </form>
            </div>
        </div>
    </div>   
    
{% endblock %}