{% extends "base.html" %}
{% load static %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'matches/css/matches.css' %}">
{% endblock %}

{% block page_header %}
    <hr>
    <h1 class="text-center mt-5 mb-3">Club Directory</h1>
    <hr>
{% endblock %}

{% block content %}
    <div class="container">
        <div class="match-overlay"></div>        
        <!-- Individual Club Cards -->
        <div class="row">
            {% for club in clubs %}            
                <div class="col-12 col-md-4 col-lg-3 text-center">                    
                    <div class="card mb-3">
                        {% if club.club_badge %}
                            <a href="{{ club.website_url }}" target="_blank" rel="noreferrer">
                                <img src="{{MEDIA_URL}}{{ club.club_badge }}" class="card-img-top card-img image-fluid" alt="{{ club.club_name }}">
                            </a>
                        {% else %}
                            <a href="{{ club.website_url }}" target="_blank">
                                <img src="{{ club.club_badge_url }}" class="card-img-top card-img" alt="{{ club.club_name }}">
                            </a>
                        {% endif %}
                            <div class="card-body club-name">
                                <h5 class="card-title mt-2">{{ club.club_name }}</h5>                                
                            </div>
                            {% if user.is_superuser %}                            
                                <div class="row no-gutters">
                                    <div class="col-6">
                                        <a href="{% url 'edit_club' club.id %}" class="btn btn-block yellow-btn rounded-0">Edit Club</a>
                                    </div>
                                    <div class="col-6">
                                        <button type="button" class="btn btn-block red-btn rounded-0" data-toggle="modal" data-target="#club{{ club.id }}Modal">Delete Club</button>
                                    </div>
                                </div>                            
                            {% endif %}                    
                            <div class="row">
                                <div class="col-12">
                                    <a class="btn btn-block blue-btn rounded-0" href="{% url 'teams' club.id %}">View the Teams</a>
                                </div>
                            </div>
                    </div>
                </div>
                <!-- Delete Confirmation Modal -->    
                <div class="modal fade" id="club{{ club.id }}Modal" tabindex="-1" aria-labelledby="clubModalLabel" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="clubModalLabel">Confirm Deletion!</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span class="x-close" aria-hidden="true">
                                        <i class="fas fa-times-circle"></i>
                                    </span>
                                </button>
                            </div>
                            <div class="modal-body">
                                <p>You are about to delete the club:</p>
                                <p class="text-danger"><strong>{{ club.club_name }}</strong></p>
                                <p>Are you sure you want to perform this task?</p>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-sm btn-success" data-dismiss="modal">Cancel</button>
                                <a class="btn btn-sm btn-outline-danger ml-2" href="{% url 'delete_club' club.id %}">
                                    Delete Club
                                </a>                                
                            </div>
                        </div>
                    </div>
                </div>                
            {% endfor %}
        </div>
        <!-- Back to top Button -->               
        <div class="row mb-3">
            <div class="col-12 btt-button text-center">
                <a class="btt-link">
                    <i class="fas fa-arrow-alt-circle-up my-auto btt-icon"></i>
                </a>	
            </div>
        </div>
    </div>

{% endblock %}

{% block postloadjs %}
    {{ block.super }}
    <script type="text/javascript">
		$('.btt-link').click(function(e) {
			window.scrollTo(0,0)
		})

        $(document).ready(function() {
            $(".green-btn").hover(function() {
                $(this).toggleClass("toggle-grn");
            });
            $(".blue-btn").hover(function() {
                $(this).toggleClass("toggle-blu");
            });
            $(".red-btn").hover(function() {
                $(this).toggleClass("toggle-red");
            });
            $(".yellow-btn").hover(function() {
                $(this).toggleClass("toggle-warning");
            });
        });            
	</script>
{% endblock %}