{% extends "base.html" %}
{% load static %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'matches/css/matches.css' %}">
{% endblock %}

{% block page_header %}
    <hr>
    <h1 class="text-center mt-5 mb-3">Fixtures</h1>
    <hr>
{% endblock %}

{% block content %}
    <div class="container">
        <div class="match-overlay"></div>
        <!-- Club Filtering -->
        <form id="filter" action="{% url 'matches' %}" method="GET">
            <div class="row">
                <div class="col-sm-12 col-md-6">
                    <div class="form-group">
                        <label for="age">Age Group</label>
                        <select class="form-control" id="age" name="age">
                            <option selected></option>
                            {% for age in fees %}
                                <option>{{ age }}</option>
                            {% endfor %}
                        </select>
                    </div>
                </div>
                <div class="col-sm-12 col-md-6">
                    <div class="form-group">
                        <label for="team">Team</label>
                        <select class="form-control" id="team" name="team">
                            <option selected disabled></option>
                            {% for team in teams %}
                                <option>{{ team }}</option>
                            {% endfor %}
                        </select>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-12 text-center my-2">
                    <button class="btn btn-success green-btn" type="submit" >Filter</button>
                </div>
            </div>                       
        </form>
        <!-- Individual Club Cards -->
        <div class="row">
            {% for club in clubs %}
                <div class="col-12 col-md-4">
                    <div class="card my-2" style="width: 18rem;">
                        <img src="{{ MEDIA_URL }}{{ club.club_badge }}" class="card-img-top card-img" alt="{{club.club_name}}">
                        <div class="card-body text-center">
                        <p class="card-text">{{ club.club_name }}</p>
                        </div>
                    </div>
                </div>               
            {% endfor %}
        </div>
        <!-- Back to top Button -->               
        <div class="row mb-3">
            <div class="col-12 btt-button text-center">
                <a class="btt-link">
                    <i class="fas fa-arrow-alt-circle-up my-auto btt-icon"></i>
                </a>	
            </div>
        </div>
    </div>

{% endblock %}

{% block postloadjs %}
    {{ block.super }}
    <script type="text/javascript">
		$('.btt-link').click(function(e) {
			window.scrollTo(0,0)
		})

        $(document).ready(function() {
            $(".green-btn").hover(function() {
                $(this).toggleClass("toggle-grn");
            });
        });            
	</script>
{% endblock %}