{% extends "base.html" %}
{% load static %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'matches/css/matches.css' %}">
{% endblock %}

{% block page_header %}
    <h1 class="text-center mb-5">Fixture Detail</h1>
{% endblock %}

{% block content %}
    <div class="container">
        <div class="match-overlay"></div>
        <!-- Match teams -->
        <div class="row match mb-3 mx-1 align-items-center border-green">
            <div class="col-4 col-lg-2 text-center">
                <img class="match-badge image-fluid" src="{{ match.home_team.club_name.club_badge_url }}"
                    alt="match.home_team.club_name">
            </div>
            <div class="col-8 col-lg-3 text-center">
                <p class="coach mb-3">{{ match.home_team }}</p>
                <p>Coach: {{ match.home_team.manager_coach }}</p>
            </div>
            <div class="col-sm-12 col-lg-2 text-center">
                <h3>VS</h3>
            </div>
            <div class="col-8 col-lg-3 text-center">
                <p class="coach mb-3">{{ match.away_team }}</p>
                <p>Coach: {{ match.away_team.manager_coach }}</p>
            </div>
            <div class="col-4 col-lg-2 text-center">
                <img class="match-badge image-fluid" src="{{ match.away_team.club_name.club_badge_url }}"
                    alt="match.away_team.club_name">
            </div>
        </div>
        <!-- Venue and KO Time -->
        <div class="row match mb-3 mx-1 align-items-center border-green">
            <div class="col text-center">
                <h3 class="mb-4">Venue and Kick-off Time</h3>
                <p class="mb-4">{{ match.date_time }}</p>
                <!-- Venue Map Accordion -->
                <p>
                    <a class="btn btn-success" data-toggle="collapse" href="#venue-map" role="button"
                        aria-expanded="false" aria-controls="venue-map">
                        {{ match.venue }}
                    </a>
                </p>
                <div class="collapse" id="venue-map">
                    <div class="card card-body">
                        {% if match.venue.map %}
                        <img src="/media/{{match.venue.map}}" alt="{{ match.venue }}">
                        {% else %}
                        <a class="btn btn-info" href="{{match.venue.map_url}}" target="_blank">Google Maps</a>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
        <!-- Match Officials -->
        <div class="row match mb-3 mx-1 align-items-center border-green">
            <div class="col-12 text-center">
                <h3 class="mb-4">Match Officials</h3>
                <div class="row">
                    <div class="col text-center mb-3">
                        <p>Referee: {{ match.referee }}</p>                        
                    </div>
                </div>
                <div class="row">
                    <div class="col-12 col-md-6 text-center">
                        <p>Asst Referee: {{ match.asst_referee1 }}</p>
                    </div>
                    <div class="col-12 col-md-6 text-center">
                        <p>Asst Referee: {{ match.asst_referee2 }}</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <!-- Venue Map Accordion -->
                        <p>
                            <a class="btn btn-success" data-toggle="collapse" href="#match-fees" role="button"
                                aria-expanded="false" aria-controls="venue-map">
                                Review Match Fees
                            </a>
                        </p>
                        <!-- Review Match fees and add them to the bag -->
                        <div class="collapse" id="match-fees">
                            <div class="card card-body">
                                <h4 class="mb-4">Match Fees</h4>
                                <form id="add-ref" class="form" action="{% url 'add_to_bag' match.id %}" method="POST">
                                    {% csrf_token %}
                                    <!-- Referee Fees -->
                                    {% if match.referee %}
                                        <div class="form-row mb-1">
                                            <div class="col-sm-12 col-md-4 text-right">
                                                <label for="ref_id_{{ match.referee }}">Referee: </label>
                                                <input type="text" value="{{ match.referee }}" name="ref-id" id="ref_id_{{ match.referee }}" data-ref_id="{{ match.referee }}" readonly>                                                
                                            </div>
                                            <div class="col-sm-12 col-md-4">
                                                <label for="">Match Fee: </label>
                                                <input type="number" value="{{ ref_fee }}" name="ref-fee" id="ref-fee" readonly>
                                            </div>
                                            <div class="col-sm-12 col-md-4">
                                                <label>Travel: </label>
                                                <input type="number" name="ref-trav" id="ref-trav">
                                            </div>
                                        </div>
                                        {% endif %}
                                        <!-- Asst Referee 1 Fees -->
                                        {% if match.asst_referee1 %}
                                            <div class="form-row mb-1">
                                                <div class="col-sm-12 col-md-4 text-right">
                                                    <label for="asst1_id_{{ match.asst_referee1 }}">Asst Ref 1: </label>
                                                    <input type="text" value="{{ match.asst_referee1 }}" name="asst1-id" id="asst1-id" data-asst1_id="{{ match.asst_referee1 }}" readonly>                                                
                                                </div>
                                                <div class="col-sm-12 col-md-4">
                                                    <label for="">Match Fee: </label>
                                                    <input type="number" value="{{ asst1_fee }}" name="asst1-fee" id="asst1-fee" readonly>
                                                </div>
                                                <div class="col-sm-12 col-md-4">
                                                    <label>Travel: </label>
                                                    <input type="number" name="asst1-trav" id="asst1-trav">
                                                </div>
                                            </div>                                        
                                        {% endif %}
                                        <!-- Asst Referee 2 Fees -->
                                        {% if match.asst_referee2 %}
                                            <div class="form-row mb-1">
                                                <div class="col-sm-12 col-md-4 text-right">
                                                    <label for="asst2_id_{{ match.asst_referee2 }}">Asst Ref 2: </label>
                                                    <input type="text" value="{{ match.asst_referee2 }}" name="asst2-id" id="asst2-id" data-asst1_id="{{ match.asst_referee2 }}" readonly>                                                
                                                </div>
                                                <div class="col-sm-12 col-md-4">
                                                    <label for="">Match Fee: </label>
                                                    <input type="number" value="{{ asst2_fee }}" name="asst2-fee" id="asst2-fee" readonly>
                                                </div>
                                                <div class="col-sm-12 col-md-4">
                                                    <label>Travel: </label>
                                                    <input type="number" name="asst2-trav" id="asst2-trav">
                                                </div>
                                            </div>                                           
                                        {% endif %}
                                    </div>
                                    <div class="form-row">
                                        <div class="col text-center">
                                            <input id="add-ref-fee" type="submit" class="btn btn-warning" value="Add to Bag">
                                        </div>
                                        <input type="hidden" name="redirect_url" value="{{ request.path }}">
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Action Buttons/Links -->
        <div class="row no-gutters my-5">
            <div class="col-md-6 text-center">
                <a class="btn border-green" href="{% url 'matches' %}">Back to Fixtures</a>
            </div>
            <div class="col-md-6 text-center">
                <a class="btn border-green" href="">Chat with Ref</a>
            </div>
        </div>
    </div>

{% endblock %}

{% block postloadjs %}
{{ block.super }}
    <script>
        $('#add-ref').submit(function(){
            $('#add-ref-fee').prop('disabled', true);
        })
    </script>
{% endblock %}