{% extends "base.html" %}
{% load static %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'matches/css/matches.css' %}">
{% endblock %}

{% block page_header %}
    <hr>
    <h1 class="text-center mt-3 mb-3">Fixture Detail</h1>
    <hr>
{% endblock %}

{% block content %}
    <div class="container">
        <div class="match-overlay"></div>
        <!-- Match teams -->
        <div class="row match mb-3 mx-1 align-items-center border-green">
            <div class="col-12">
                <div class="row">
                    <div class="col-4 col-lg-2 text-center">
                        <img class="match-badge image-fluid" src="{{ match.home_team.club_name.club_badge_url }}"
                            alt="match.home_team.club_name">
                    </div>
                    <div class="col-8 col-lg-3 text-center">
                        <p class="coach mb-3">{{ match.home_team }}</p>
                        <p>Coach: {{ match.home_team.manager_coach }}</p>
                    </div>
                    <div class="col-sm-12 col-lg-2 text-center my-3">
                        <h3>VS</h3>
                    </div>
                    <div class="col-8 col-lg-3 text-center">
                        <p class="coach mb-3">{{ match.away_team }}</p>
                        <p>Coach: {{ match.away_team.manager_coach }}</p>
                    </div>
                    <div class="col-4 col-lg-2 text-center">
                        <img class="match-badge image-fluid" src="{{ match.away_team.club_name.club_badge_url }}"
                            alt="match.away_team.club_name">
                    </div>
                </div>
                {% if request.user.is_superuser %}
                    <div class="row mt-5">
                        <div class="col-6 text-right">
                            <a class="btn btn-sm btn-warning mr-2" href="{% url 'edit_match' match.id %}">Edit Match</a>
                        </div>
                        <div class="col-6 text-left">
                            <a class="btn btn-sm btn-outline-danger ml-2" href="{% url 'delete_match' match.id %}">Delete
                                Match</a>
                        </div>
                    </div>
                {% endif %}
            </div>
        </div>
        <!-- Venue and KO Time -->
        <div class="row match mb-3 mx-1 align-items-center border-green">
            <div class="col text-center">
                <h3 class="mb-4">Venue and Kick-off Time</h3>
                <p class="mb-4">{{ match.date_time }}</p>                
                <!-- Venue Map Accordion -->
                <p>
                    <a class="btn btn-success" data-toggle="collapse" href="#venue-map" role="button"
                        aria-expanded="false" aria-controls="venue-map">
                        {{ match.venue }}
                    </a>
                </p>
                <div class="collapse" id="venue-map">
                    <div class="card card-body">
                        {% if match.venue.map %}
                        <img src="/media/{{match.venue.map}}" alt="{{ match.venue }}">
                        {% else %}
                        <a class="btn btn-info" href="{{match.venue.map_url}}" target="_blank">Google Maps</a>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
        <!-- Match Officials -->
        <div class="row match mb-3 mx-1 align-items-center border-green">
            <div class="col-12 text-center">
                <h3 class="mb-4">Match Officials</h3>
                <div class="row">
                    <div class="col text-center mb-3">
                        <p>Referee: {{ match.referee }}</p>                        
                    </div>
                </div>
                <div class="row">
                    <div class="col-12 col-md-6 text-center mb-3">
                        <p>Asst Referee: {{ match.asst_referee1 }}</p>
                    </div>
                    <div class="col-12 col-md-6 text-center">
                        <p>Asst Referee: {{ match.asst_referee2 }}</p>
                    </div>
                </div>
                <div class="row mt-5">
                    <div class="col">
                        <p>
                            <a class="btn btn-success" data-toggle="collapse" href="#match-fees" role="button"
                                aria-expanded="false" aria-controls="venue-map">
                                Review Match Fees
                            </a>
                        </p>
                    </div>
                </div>     
                <!-- Review Match fees and add them to the bag -->
                <div class="collapse" id="match-fees">
                    <div class="card card-body">
                        <h4 class="mb-4">Match Fees</h4>
                        <form id="GameForm" name="GameForm" class="form" action="{% url 'add_to_bag' match.id %}" method="POST">
                            {% csrf_token %}
                            {{ form|crispy }}
                            <!-- Referee Fees -->
                            {% if match.referee %}
                                <div class="form-row mb-3">
                                    <input type="hidden" value=1 name="quantity" id="quantity" data-item_id="{{ match.id }}">
                                    <div class="col-sm-12 col-md-3 text-left">
                                        <p>Referee: {{ match.referee }}</p>
                                    </div>
                                    <div class="col-sm-12 col-md-3 text-left">
                                        <p>Match Fee: £ {{ ref_fee }}</p>
                                    </div>                                    
                                        <div class="col-sm-12 col-md-3 text-left">
                                            <p>Travel: £ {{ match.ref_trav }}</p>
                                        </div>                                                                        
                                    <div class="col-sm-12 col-md-3 text-left">
                                        <label for="ref_total">Total</label>
                                        <input class="total" value="{{ ref_total }}" type="number" name="ref_total" id="ref_total" data-item_id="{{ match.id }}" readonly>
                                    </div>
                                </div>
                            {% endif %}
                            <!-- Asst Referee 1 Fees -->
                            {% if match.asst_referee1 %}
                                <div class="form-row mb-3">
                                    <div class="col-sm-12 col-md-3 text-left">
                                        <p>Asst Ref 1: {{ match.asst_referee1 }}</p>                                                                                                    
                                    </div>
                                    <div class="col-sm-12 col-md-3 text-left">
                                        <p>Match Fee: £ {{ asst1_fee }}</p>
                                    </div>
                                    <div class="col-sm-12 col-md-3 text-left">
                                        <p>Travel: £ {{ match.asst1_trav }}</p>                                                    
                                    </div>
                                    <div class="col-sm-12 col-md-3 text-left">
                                        <label for="asst1_total">Total</label>
                                        <input class="total" value="{{ asst1_total }}" type="number" name="asst1_total" id="asst1_total"  data-item_id="{{ match.id }}" readonly>
                                    </div>
                                </div>                                        
                            {% endif %}
                            <!-- Asst Referee 2 Fees -->
                            {% if match.asst_referee2 %}
                                <div class="form-row mb-3">
                                    <div class="col-sm-12 col-md-3 text-left">
                                        <p>Asst Ref 2: {{ match.asst_referee2 }}</p>
                                    </div>
                                    <div class="col-sm-12 col-md-3 text-left">
                                        <p>Match Fee: £ {{ asst2_fee }}</p>
                                    </div>
                                    <div class="col-sm-12 col-md-3 text-left">
                                        <p>Travel: £ {{ match.asst2_trav }}</p>
                                    </div>
                                    <div class="col-sm-12 col-md-3 text-left">
                                        <label for="asst2_total">Total</label>
                                        <input class="total" value="{{ asst2_total }}" type="number" name="asst2_total" id="asst2_total"  data-item_id="{{ match.id }}" readonly>
                                    </div>
                                </div>                                                                         
                            {% endif %}
                            <!-- Add to Kit Bag button -->
                            {% if user.get_full_name == match.home_team.manager_coach %}
                                {% if not paid %}
                                    <div class="form-row">
                                        <div class="col-12 text-center">
                                            <input id="add_to_bag" type="submit" class="btn btn-warning" value="Add to Bag">
                                        </div>
                                        <input type="hidden" name="redirect_url" value="{{ request.path }}">
                                    </div>
                                {% endif %}
                            {% endif %}
                            <!-- Link for Match Officials to add their travel expenses -->
                            {% if user == ref or user.is_superuser %}
                                {% if not paid %}
                                    <div class="form-row">
                                        <div class="col-12 col-md-6 text-center my-3">
                                            <input id="add_to_bag" type="submit" class="btn btn-warning" value="Add to Bag">
                                        </div>
                                        <input type="hidden" name="redirect_url" value="{{ request.path }}">
                                {% endif %}
                                        <div class="col-12 col-md-6 text-center my-3">
                                            <a class="btn btn-info" href="{% url 'add_travel' match.id %}">Add Travel
                                                <span class="float-right">
                                                    <i class="fas fa-car-side"></i>
                                                </span>
                                            </a>
                                        </div>
                                    </div>
                            {% endif %}                            
                        </form>
                        <!-- If game is paid for show Paid -->
                        {% if paid %}
                            <h5 class="text-success text-uppercase mt-2">PAID</h5>
                        {% endif %}
                        <!-- Time limit warning for unpaid matches -->
                        {% if not paid %}
                        <div class="row mt-3">
                            <div class="col">
                                <p class="text-danger"><strong>You have 24hrs from Kick-off to pay the Match Officials fees.</strong></p>
                                <p class="text-danger mt-3">If you fail to pay the fee you will incur a <strong>£25 </strong>non-payment fine</p>                                 
                            </div>
                        </div>
                        {% endif %}
                    </div>
                </div>                
            </div>
        </div>
        <!-- Action Buttons/Links -->
        <div class="row no-gutters my-5">
            <div class="col-md-6 text-center">
                <a class="btn btn-success" href="{% url 'matches' %}">Back to Fixtures</a>
            </div>
                      
            {% if post %}
                {% if user.get_full_name == match.home_team.manager_coach or user.get_full_name == ref or user.is_superuser %}
                    <div class="col-md-6 text-center mt-3">
                        <a class="btn blue-btn" href="{% url 'match_chat' match.id %}">Messages</a>
                    </div>
                {% endif %}
            {% endif %}
        </div>
    </div>

{% endblock %}
