{% extends "base.html" %}
{% load static %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'matches/css/matches.css' %}">
{% endblock %}

{% block page_header %}
    <hr>
    <h1 class="text-center mt-5 mb-3">Fixtures</h1>
    <hr>
{% endblock %}

{% block content %}
    <div class="container">
        <div class="match-overlay"></div>
        <form id="filter" action="{% url 'matches' %}" method="GET">
            <div class="row">
                <div class="col-sm-12 col-md-6">
                    <div class="form-group">
                        <label for="age">Age Group</label>
                        <select class="form-control" id="age" name="age">
                            <option selected></option>
                            {% for age in fees %}
                                <option>{{ age }}</option>
                            {% endfor %}
                        </select>
                    </div>
                </div>
                <div class="col-sm-12 col-md-6">
                    <div class="form-group">
                        <label for="team">Team</label>
                        <select class="form-control" id="team" name="team">
                            <option selected disabled></option>
                            {% for team in teams %}
                                <option>{{ team }}</option>
                            {% endfor %}
                        </select>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-12 text-center my-2">
                    <button class="btn btn-success" type="submit" >Filter</button>
                </div>
            </div>                       
        </form>
            
        {% for match in matches %}               
            <a class="match-text" href="{% url 'match_detail' match.id %}">
                <div class="row match mb-3 align-items-center border-green">
                    <div class="col">
                        <div class="row">
                            <div class="col-4 col-lg-2 team text-center">
                                <img class="club-badge image-fluid" src="{{ match.home_team.club_name.club_badge_url }}" alt="match.home_team.club_name">
                            </div>
                            <div class="col-8 col-lg-3 text-center my-auto">
                                <p>{{ match.home_team }}</p>                         
                            </div>
                            <div class="col-sm-12 col-lg-2 text-center my-auto">
                                <p><strong>VS</strong></p>
                            </div>
                            <div class="col-8 col-lg-3 text-center my-auto">
                                <p>{{ match.away_team }}</p>                        
                            </div>
                            <div class="col-4 col-lg-2 text-center">
                                <img class="club-badge image-fluid" src="{{ match.away_team.club_name.club_badge_url }}" alt="match.away_team.club_name">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12 text-center">
                                <p>{{ match.date_time }}</p>
                            </div>
                        </div>
                        {% if request.user.is_superuser %}
                            <div class="row">
                                <div class="col-12 col-md-6 text-center">
                                    <a class="btn btn-sm btn-warning" href="{% url 'edit_match' match.id %}">Edit Match</a>
                                </div>
                                <div class="col-12 col-md-6 text-center">
                                    <a class="btn btn-sm btn-outline-danger" href="{% url 'delete_match' match.id %}">Delete Match</a>
                                </div>
                            </div>
                        {% endif %}
                    </div>
                </div>
            </a>           
        {% endfor %}                
    </div>


{% endblock %}
