{% extends "base.html" %}
{% load static %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'matches/css/matches.css' %}">
{% endblock %}

{% block page_header %}
    <hr>
    <h1 class="text-center mt-5 mb-3">Team Directory</h1>
    <hr>
{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-12 text-center">
                {% if club.club_badge %}        
                    <img src="{{MEDIA_URL}}{{ club.club_badge }}" class="img-fluid teams-badge" alt="{{ club.club_name }}">        
                {% else %}        
                    <img src="{{ club.club_badge_url }}" class="img-fluid teams-badge" alt="{{ club.club_name }}">        
                {% endif %}
                <h2 class="text-center mt-3">{{club.club_name}}</h2>
            </div>
        </div>
        <div class="match-overlay"></div>
        <!-- Club Filtering -->
        <form id="teams-filter" action="{% url 'teams' club.id %}" method="GET">
            <div class="row justify-content-center">
                <div class="col-sm-6">
                    <div class="form-group">
                        <label for="team-age">Age Group</label>
                        <select class="form-control" id="team-age" name="team-age">
                            <option selected label="Select an age group"></option>
                            {% for age in fees %}
                                <option>{{ age }}</option>
                            {% endfor %}
                        </select>
                    </div>
                </div>                
            </div>
            <div class="row">
                <div class="col-12 text-center my-3 mb-5">
                    <button class="btn btn-success green-btn" type="submit" >Filter</button>
                    <a class="btn blue-btn" href="{% url 'teams' club.id %}">Reset</a>
                </div>
            </div>                       
        </form>
        <!-- Teams DIV -->        
        <div class="row d-flex justify-content-center">
            <div class="col-12 col-md-10 match teams border-green">
                <!-- Additional column with action buttons for superuser -->
                {% if user.is_superuser %}
                    <div class="row mb-2">
                        <div class="col-12 col-md-4 text-center d-none d-sm-block">
                            <h5><i class="fas fa-users mr-2"></i>Team</h5>
                        </div>
                        <div class="col-12 col-md-4 text-center d-none d-sm-block">
                            <h5><i class="fas fa-user-tie mr-2"></i>Manager / Coach</h5>
                        </div>
                        <div class="col-12 col-md-4 text-center d-none d-sm-block">
                            <h5><i class="fas fa-user-edit mr-2"></i>Actions</h5>
                        </div>
                    </div>
                    {% for team in teams %}
                                        
                        <div class="row mb-3">
                            <div class="col-12 col-md-4 text-center">
                                <p class="team-name">{{ team.team_name }}</p>
                            </div>
                            <div class="col-12 col-md-4 mt-3 mt-md-0 text-center">
                                <p><strong>{{ team.manager_coach }}</strong></p>
                            </div>
                            <div class="col-12 col-md-4 mt-3 mt-md-0 text-center">
                                <a href="{% url 'edit_team' team.id %}" class="btn btn-sm yellow-btn">Edit Team</a>
                                <button type="button" class="btn btn-sm red-btn" data-toggle="modal" data-target="#team{{ team.id }}Modal">Delete Team</button>
                            </div>
                        </div>
                        <hr>
                        <!-- Delete Confirmation Modal --> 
                        <div class="modal fade" id="team{{ team.id }}Modal" tabindex="-1" aria-labelledby="clubModalLabel" aria-hidden="true">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="clubModalLabel">Confirm Deletion!</h5>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span class="x-close" aria-hidden="true">
                                                <i class="fas fa-times-circle"></i>
                                            </span>
                                        </button>
                                    </div>
                                    <div class="modal-body">
                                        <p>You are about to delete the Team:</p>
                                        <p class="text-danger"><strong>{{ team.team_name }}</strong></p>
                                        <p>Are you sure you want to perform this task?</p>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-sm btn-success" data-dismiss="modal">Cancel</button>
                                        <a class="btn btn-sm btn-outline-danger ml-2" href="">
                                            Delete Team
                                        </a>                                
                                    </div>
                                </div>
                            </div>
                        </div>                
                    {% endfor %}
                {% else %}
                    <!-- List of Teams and Coaches by Club -->
                    <div class="row mb-2">
                        <div class="col-md-6 text-center d-none d-sm-block">
                            <h5><i class="fas fa-users ml-2"></i>Team</h5>
                        </div>
                        <div class="col-md-6 text-center d-none d-sm-block">
                            <h5>
                                <i class="fas fa-user-tie ml-2"></i>
                                Manager/Coach
                            </h5>
                        </div>                        
                    </div>
                    {% for team in teams %}                        
                        <div class="row mb-3">
                            <div class="col-12 col-md-6 text-center">
                                <p class="team-name">{{ team.team_name }}</p>
                            </div>
                            <div class="col-12 col-md-6 text-center">
                                <p>{{ team.manager_coach }}</p>
                            </div>
                        </div>
                        <hr>
                    {% endfor %}
                {% endif %}
            </div>
        </div>
        <!-- Return to Clubs Page -->
        <div class="row my-5">
            <div class="col-12 text-center">
                <a class="btn blue-btn" href="{% url 'clubs' %}">Back to Clubs</a>
            </div>
        </div>
        <!-- Back to top Button -->
        {% if forloop.counter > 10 %}               
        <div class="row mb-3">
            <div class="col-12 btt-button text-center">
                <a class="btt-link">
                    <i class="fas fa-arrow-alt-circle-up my-auto btt-icon"></i>
                </a>	
            </div>
        </div>
        {% endif %}
    </div>

{% endblock %}

{% block postloadjs %}
    {{ block.super }}
    <script>
		$('.btt-link').click(function(e) {
			window.scrollTo(0,0)
		})          
	</script>
{% endblock %}