{% extends 'base.html' %}
{% load static %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'matches/css/matches.css' %}">
{% endblock %}

{% block page_header %}    
    <h1 class="text-center mt-3 mb-3">Kit Bag</h1>    
{% endblock %}

{% block content %}    
    <div class="match-overlay"></div>
    <div class="container">
        <div class="row">
            <div class="col">
                <hr>
                <h2>Pending Match Payments</h2>
                <hr>
            </div>
        </div>
        <div class="row mb-2">
            <div class="col">
                {%  if bag_items %}
                    {% if bag_items == 1 %}                    
                        <h5>You have {{ match_count }} match in your Kit Bag</h5>
                    {% else %}
                        <h5>You have {{ match_count }} matches in your Kit Bag</h5>
                    {% endif %}
                {% endif %}
            </div>
        </div>
        <div class="row">
            <div class="col">
                {% if bag_items %}
                    <div class="table-responsive rounded table table-striped">
                        <table id="bag-table" class="table table-sm table-borderless">
                            <thead class="thead-dark">
                                <tr>
                                    <th scope="col">Match</th>
                                    <th scope="col">Referee</th>
                                    <th scope="col">Asst Ref 1</th>
                                    <th scope="col">Asst Ref 2</th>
                                    <th scope="col">Match Total</th>
                                    <th></th>
                                </tr>
                            </thead>                                
                            {% for item in bag_items %}                                
                                <tr>
                                    <td>
                                        <p class="my-0 bag-match">{{item.match}}</p>
                                    </td>                                   
                                    <td>
                                        <p class="my-0">{{ item.match.referee }}</p>
                                    </td>
                                    <td>
                                        {% if item.match.asst_referee1 is not None %}
                                            <p class="my-0">{{ item.match.asst_referee1 }}</p>
                                        {% else %}
                                            <p class="text-center my-0">-</p>
                                        {% endif %}
                                    </td>                                    
                                    <td>
                                        {% if item.match.asst_referee2 is not None %}
                                            <p class="my-0">{{ item.match.asst_referee2 }}</p>
                                        {% else %}
                                            <p class="text-center my-0">-</p>
                                        {% endif %}                                        
                                    </td>
                                    <td></td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <td>
                                        <p>{{ item.match.date_time }}</p>
                                    </td>
                                    <td>
                                        <p>{{ item.match.ref_total }}</p>
                                    </td>
                                    <td>
                                        {% if item.match.asst_referee1 is not None %}
                                            <p>{{ item.match.asst1_total }}</p>
                                        {% else %}
                                            <p class="text-center my-0">-</p>
                                        {% endif %}
                                    </td>
                                    <td>
                                        {% if item.match.asst_referee2 is not None %}
                                            <p>{{ item.match.asst2_total }}</p>
                                        {% else %}
                                            <p class="text-center">-</p>
                                        {% endif %}
                                    </td>
                                    <td>
                                        <p class="text-center"><strong>{{ item.match_total }}</strong></p>
                                    </td>
                                    <td>
                                        <a class="remove-item btn btn-warning btn-sm" id="remove_{{ item.item_id }}">Remove
                                            <i class="far fa-trash-alt"></i>
                                        </a>
                                    </td>                                    
                                </tr>                                
                            {% endfor %}
                                <tr>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td>
                                        <p class="my-0 grand-total"><strong>Grand Total:</strong></p>
                                    </td>
                                    <td>
                                        <p class="text-center my-0 grand-total"><strong>{{ grand_total }}</strong></p>
                                    </td>
                                    <td></td>
                                </tr>                                                                    
                        </table>                                                            
                    </div>                        
                {% else %}
                    <p>You have not selected any matches for payment!</p>
                    <a class="btn btn-success" href="{% url 'matches' %}">Back to Matches</a>
                {% endif %}
            </div>
        </div>
        <div class="row no-gutters my-5">
            <div class="col-md-6 text-center">
                <a class="btn btn-success" href="{% url 'matches' %}">Back to Fixtures</a>
            </div>
            <div class="col-md-6 text-center">
                <a class="btn blue-btn" href="">Secure Checkout</a>
            </div>
        </div>
    </div>
{% endblock %}

{% block postloadjs %}
{{ block.super }}    
    <script type="text/javascript">
        // Remove match from the kit bag and reload
        $('.remove item').click(function(e){
            var csrfToken = "{{ csrf_token }}";
            var itemID = $(this).attr('id').split('remove_')[1];
            var url = '/bag/remove/${itemID}';
            var data = {'csrfmiddlewaretoken': csrfToken};

            $.post(url, data)
             .done(function(){
                 location.reload();
             })
        })
    </script>
{% endblock %}