{% extends 'base.html' %}
{% load static %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'matches/css/matches.css' %}">
{% endblock %}

{% block page_header %}    
    <h1 class="text-center mt-3 mb-3">Kit Bag</h1>    
{% endblock %}

{% block content %}    
    <div class="match-overlay"></div>
    <div class="container">
        <div class="row">
            <div class="col">
                <hr>
                <h2>Pending Payments</h2>
                <hr>
            </div>
        </div>
        <div class="row">
            <div class="col">
                {% if bag_items %}
                    <div class="table-responsive rounded">
                        <p>{{ match.referee }}</p>
                        <p>{{ match.asst_referee1 }}</p>
                        <p>{{ match.asst_referee2 }}</p>
                        <p>{{ ref_total }}</p>
                        <p>{{ game_total }}</p>
                        <p>{{ bag_items }}</p>
                    </div>
                {% else %}
                    <p>You have not selected any matches for payment!</p>
                    <a class="btn btn-success" href="{% url 'matches' %}">Back to Matches</a>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}