body {
    background: url('/media/park-goals.jpg') no-repeat center center fixed;
    background-size: cover;    
}

.overlay {
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    position: fixed;
    background: rgba(0, 0, 0, 0.3);
    z-index: -999;
}

.home-container {
    min-height: 80%;
}

.index-links {
    padding-top: 15%;
    height: 100%;    
}

.football {
    max-width: 10rem;
}

/* ---------- Media Queries ---------- */

@media (max-width: 767.9px) {
    footer {
        padding-top: 2rem;
    }    
}