{% extends 'base.html' %}
{% load static %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'profiles/css/profiles.css' %}">
{% endblock %}

{% block page_header %}
    <hr>
    <h1 class="text-center  mt-5 mb-3">{{ user.username }}'s Profile</h1>
    <hr>
{% endblock %}

{% block content %}
    <div class="container">
        <div class="profile-overlay"></div>
        <div class="row">
            <div class="col">
                {{ profile }}
            </div>
        </div>
    </div>
{% endblock %}