{% extends 'base.html' %}
{% load static %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'checkout/css/checkout.css' %}">
{% endblock %}

{% block page_header %}    
    <h1 class="text-center mt-5 mb-3">Thank you for paying with RefereE-Pay!</h1>    
{% endblock %}

{% block content %}    
    <div class="checkout-overlay"></div>
    <div class="container">                
        <div class="row checkout-match my-5 border-green rounded-3">
            <div class="col mt-5 mb-3">                
                <h3 class="text-center">You have successfully paid your Match Officials fees.</h3>
                <hr>
                <p>Your payment information is below. A confirmation email has been sent to {{ order.email }}</p>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <p>{{ order.order_number }}</p>
                
            </div>
        </div>
               
        <!-- Action Buttons/Links -->
        <div class="row no-gutters my-5">
            <div class="col-md-6 text-center">
                <a class="btn btn-success" href="{% url 'matches' %}">Back to Fixtures</a>
            </div>
            <div class="col-md-6 text-center">
                <a class="btn btn-danger" href="{% url 'account_logout' %}">Log-out</a>
            </div>
        </div>
    </div>                        
        
{% endblock %}

