/** {
    border: 1px solid red;
}*/

html {
    height: 100%;
}

/* ---------- Navbar ---------- */

#website-logo {
    height: 3rem;
    width: auto;
}

.grand-total {
    color: #e1261c !important;
    font-weight: bold !important;
}

.zero-total {
    color: #00813e !important;
}

/* ---------- Colours ---------- */

.light-background {
    background-color: #e6eaee;
}

.green {
    background-color: #00813e;
}

.dark-blue {
    background-color: #011e41;
}

.red {
    background-color: #e1261c;
}

.danger {
    background-color: #dc3545 !important;
    color: #fff !important;
}

.warning {
    background-color: #ffc107 !important;
    color: #000 !important;
}

.success {
    background-color: #28a745 !important;
    color: #fff !important;
}

.info {
    background: #17a2b8 !important;
    color: #fff !important;
}

.border-green {
    border: 2px solid #00813e;
    border-radius: 1rem;
    padding-right: 1rem;
}

/* ---------- Fonts ---------- */

h1, h2, h3, h4, h5 {
    font-family: "Exo", sans-serif;
    font-weight: bold;
}

p, .nav-link,
a {
    font-family: "Roboto", sans-serif;
}

/* ---------- Toasts ---------- */

.message-container {
    position: fixed;
    top: 4.5rem;
    right: 1rem;
    z-index: 99999;
}

.custom-toast {
    overflow: visible;
}

.toast-capper {
    height: 0.125rem;
}

.bag-notification-wrapper {
    height: 6.25rem;
    overflow-x: hidden;
    overflow-y: auto;
}

.toast-total {
    font-size: 1.15rem;
}

.toast-bag-text {
    font-size: 0.8rem;
}

/* ---------- Buttons ---------- */

.blue-btn {
    background-color: #011e41;
    color: #fff;    
}

/* from CSS-tricks.com: https://css-tricks.com/snippets/css/css/triangle/ */

.arrow-up {
    width: 0;
    height: 0;
    border-left: 0.5rem solid transparent;
    border-right: 0.5rem solid transparent;
    border-bottom: 0.5rem solid transparent;
    position: absolute;
    top: -7.0px;
    right: 20rem;
}

/* ----- Copied from CI Boutiuque Ado Project -----*/

.arrow-primary {
    border-bottom-color: #007bff !important;
}

.arrow-secondary {
    border-bottom-color: #6c757d !important;
}

.arrow-success {
    border-bottom-color: #28a745 !important;
}

.arrow-danger {
    border-bottom-color: #dc3545 !important;
}

.arrow-warning {
    border-bottom-color: #ffc107 !important;
}

.arrow-info {
    border-bottom-color: #17a2b8 !important;
}

.arrow-light {
    border-bottom-color: #f8f9fa !important;
}

.arrow-dark {
    border-bottom-color: #343a40 !important;
}

.toast-img {
    max-width: 100%;
    height: auto;
}

/* ---------- Footer ---------- */

.fa-logo {
    height: 3rem;   
}

.fa-link::before {
    content: none !important;
}

.border-right {
    border-right: 2px solid white;
}

.social-link i {
    font-size: 2rem;
}