/** {
    border: 1px solid red;
}*/

html {
    height: 100%;
}

/*---------- Navbar ----------*/

#website-logo {
    height: 3rem;
    width: auto;
}

.grand-total {
    color: #e1261c !important;
    font-weight: bold !important;
}

.zero-total {
    color: #00813e !important;
}

/*---------- Colours ----------*/

.light-background {
    background-color: #e6eaee;
}

.green {
    background-color: #00813e;
}

.dark-blue {
    background-color: #011e41;
}

.red {
    background-color: #e1261c;
}

/*---------- Fonts ----------*/

h1, h2, h3, h4, h5 {
    font-family: "Exo", sans-serif;
    font-weight: bold;
}

p, .nav-link,
a {
    font-family: "Roboto", sans-serif;
}

/*---------- Footer ----------*/

.fa-logo {
    height: 3rem;   
}

.fa-link::before {
    content: none !important;
}

.border-right {
    border-right: 2px solid white;
}

.social-link i {
    font-size: 2rem;
}