/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.3.6,
* Autoprefixer: v10.3.1
* Browsers: last 4 version
*/

html {
    height: 100%;
}

.page-header {
    margin-top: 5rem;
    margin-bottom: 4rem;
}

/* ---------- Navbar ---------- */

.navbar {
    background-color: rgba(255, 255, 255, 0.5) !important;
}

#website-logo {
    height: 3rem;
    width: auto;
}

.nav-link {
    color: #011e41 !important;
    font-family: 'Roboto', sans-serif;
}

.grand-total {
    color: #e1261c !important;
    font-weight: bold !important;
}

.zero-total {
    color: #00813e !important;
}

/* ---------- Colours ---------- */

.light-background {
    background-color: #e6eaee;
}

.green {
    background-color: #00813e;
}

.dark-blue {
    background-color: #011e41;
}

.red {
    background-color: #e1261c;
}

.danger {
    background-color: #dc3545 !important;
    color: #fff !important;
}

.warning {
    background-color: #ffc107 !important;
    color: #000 !important;
}

.success {
    background-color: #28a745 !important;
    color: #fff !important;
}

.info {
    background: #011e41 !important;
    color: #fff !important;
}

.border-green {
    border: 2px solid #00813e;
    border-radius: 1rem;
    padding-right: 1rem;
}

/* ---------- Fonts ---------- */

h1, h2, h3, h4, h5 {
    font-family: "Exo", sans-serif;
    font-weight: bold;
}

p, .nav-link,
a, form label,
form input, span {
    font-family: "Roboto", sans-serif;
}

/* ---------- Toasts ---------- */

.message-container {
    position: fixed;
    top: 4.5rem;
    right: 1rem;
    z-index: 99999;
}

.custom-toast {
    overflow: visible;
}

.toast-capper {
    height: 0.125rem;
}

.bag-notification-wrapper {
    height: 6.25rem;
    overflow-x: hidden;
    overflow-y: auto;
}

.toast-total {
    font-size: 1.15rem;
}

.toast-bag-text {
    font-size: 0.8rem;
}

.toast-img {
    max-width: 100%;
    height: auto;
}

.toast-msg {
    font-size: 1rem;
    font-weight: bold;
    color: #011e41;
}

.toast-body {
    background-color: rgba(255, 255, 255, 0.9) !important;
}

.bg-blue {
    background-color: #011e41;
}

.blue-border {
    border-color: #011e41;
}

/* ---------- Buttons ---------- */

.green-btn {
    background-color: #00813e;
    color: #fff;
    border: 2px solid #00813e;    
}

.blue-btn {
    background-color: #011e41;
    color: #fff;
    border: 2px solid #011e41;   
}

.red-btn {
    background-color: #e1261c;
    color: #fff;
    border: 2px solid #e1261c;
}

.yellow-btn {
    background-color: #ffc107;
    color: #000;
    border: 2px solid #ffc107;

}

.info-btn {
    background-color: #17a2b8;
    color: #fff;
    border: 2px solid #17a2b8;
}

.toggle-blu {
    background-color: #fff;
    color: #011e41 !important;
    border: 2px solid #011e41 !important;
    font-weight: bold;
}

.toggle-grn {
    background-color: #fff !important;
    color: #00813e !important;
    border: 2px solid #00813e !important;
    font-weight: bold;
}

.toggle-info {
    background-color: #fff !important;
    color: #17a2b8 !important;
    border: 2px solid #17a2b8 !important;
    font-weight: bold;
}

.toggle-primary {
    background-color: #fff !important;
    color: #007bff !important;
    border: 2px solid #007bff !important;
    font-weight: bold;
}

.toggle-warning {
    background-color: #fff !important;
    color: #ffc107 !important;
    border: 2px solid #ffc107 !important;
    font-weight: bolder;
}

.toggle-red {
    background-color: #fff !important;
    color: #e1261c !important;
    border: 2px solid #e1261c !important;
    font-weight: bold;
}

.toggle-footer {    
    color: rgb(250, 108, 51) !important;
}

/* ---------- Pagination ----------*/
.page-link.active {
    background-color: #011e41 !important;
    color: #fff !important;
    font-weight: bold !important;
}

/* from CSS-tricks.com: https://css-tricks.com/snippets/css/css/triangle/ */

.arrow-up {
    width: 0;
    height: 0;
    border-left: 0.5rem solid transparent;
    border-right: 0.5rem solid transparent;
    border-bottom: 0.5rem solid transparent;
    position: absolute;
    top: -7.0px;
    right: 20rem;
}

/* ----- Copied from CI Boutiuque Ado Project -----*/

.arrow-secondary {
    border-bottom-color: #6c757d !important;
}

.arrow-success {
    border-bottom-color: #28a745 !important;
}

.arrow-danger {
    border-bottom-color: #dc3545 !important;
}

.arrow-warning {
    border-bottom-color: #ffc107 !important;
}

.arrow-info {
    border-bottom-color: #011e41 !important;
}

/* ---------- Edit / Add Club Badge ---------- */

.btn-file {
    position: relative;
    overflow: hidden;
}

.btn-file input[type="file"] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    opacity: 0;
    cursor: pointer;
}

.custom-checkbox .custom-control-label::before {
    border-color: #dc3545;
}


.custom-checkbox .custom-control-input:checked~.custom-control-label::before {
    background-color: #dc3545;
    border-color: #dc3545;
}

/* ---------- Footer ---------- */

.fa-logo {
    height: 3rem;
    width: auto;   
}

.fa-link::before {
    content: none !important;
}

.border-right {
    border-right: 2px solid white;
}

.copyright {
    color: #007bff;
    font-weight: bold;
}

.social-link i {
    font-size: 2rem;
}

/* ---------- Media Queries ----------*/

@media (min-width: 1200px) {
    .container {
        max-width: 80%;
    }
}

@media (max-width: 767.9px) {
    
    .email {
        font-size: 0.9rem;
    }
    
    .toast-img{
        max-width: 50%;
    }    
}