body {
    background: url('/media/corner-ball.jpg') no-repeat center center fixed;
    background-size: cover;    
}

.match-overlay {
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    position: fixed;
    background: rgb(255, 255, 255, 0.7);
    z-index: -9999;
}

.match {
    background-color: #fff;
    padding: 1rem;
}

.club-badge {
    height: 5rem;
    width: 5rem;
    object-fit: contain;
}

.match-text {
    color: black;
}

.match p {
    margin-bottom: 0;
}

.match-badge {
    height: 7rem;
    width: 7rem;
    object-fit: contain;
}

.total {
    border: none;
}

/* ---------- BTT Button ----------*/

.btt-button {    
    width: 4rem;
}

.btt-icon {
    font-size: 3rem;    
    margin: 2rem;
    color: #00813e;
}

/* ---------- Kit Bag ----------*/

#bag-table {
    background-color: rgba(255, 255, 255, 0.7);
}

.bag-match {
    color: #011e41;
    font-weight: bold;
}

