body {
    background: url('/media/corner-ball.jpg') no-repeat center center fixed;
    background-size: cover;    
}

.match-overlay {
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    position: fixed;
    background: rgb(255, 255, 255, 0.7);
    z-index: -9999;
}

.match {
    background-color: #fff;
    padding: 1rem;
}

.club-badge {
    height: 5rem;
    width: 5rem;
    object-fit: contain;
}

.match-text {
    color: black;
}

.match p {
    margin-bottom: 0;
}

.match-badge {
    height: 7rem;
    width: 7rem;
    object-fit: contain;
}

.total {
    border: none;
}

/* ---------- BTT Button ----------*/

.btt-button {    
    width: 4rem;
}

.btt-icon {
    font-size: 3rem;    
    margin: 2rem;
    color: #00813e;
}

/* ---------- Kit Bag ----------*/

#bag-table {
    background-color: rgba(255, 255, 255, 0.7);
}

.bag-match {
    color: #011e41;
    font-weight: bold;
}

/* ---------- Chat ----------*/

.team-author {
    background-color: rgb(60, 174, 219);
    color: #fff;
    border-radius: 5px 5px 0 0;
}

.ref-author {
    background-color: #000;
    color: #fff;
    border-radius: 5px 5px 0 0;
}

.coach-chat {
    background-color: rgb(60, 174, 219);
    color: #fff;
    border-radius: 0 5px 5px 5px;    
}

.ref-chat {
    background-color: #000;
    color: #fff;
    border-radius: 5px 0 5px 5px;
}

.chat-image {
    height: 5rem;
    width: auto;
}

/* ----- Travel Expense Form ----- */

.trav-badge {
    height: 4rem;
    width: 4rem;
    object-fit: contain;
}

.game-summary {
    max-height: 10rem;
}

/* ---------- Delete Confirmation Modal ---------- */

.modal-header {
    background-color: #e1261c;
    color: #fff;
}

.x-close {
    color: #fff;
    font-weight: bold;

}

/* ---------- Media Queries ----------*/

@media (min-width: 320px) {
    .match-badge {
        height: 5rem;
        width: 5rem;
        object-fit: contain;
    }
}