{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    {% block meta %}
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    {% endblock %}

    {% block extra_meta %}
    {% endblock %}

    {% block corecss %}
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css" integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">
    <!-- Google Fonts -->
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Exo&family=Roboto&family=Saira+Stencil+One&display=swap" rel="stylesheet">
    <!-- CSS -->
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
    <link rel="icon" type="image/x-icon" href="{{ MEDIA_URL }}favicon.ico">
    {% endblock %}

    {% block extra_css %}
    {% endblock %}
    
    {% block corejs %}
    <!-- Fontawesomne -->
    <script src="https://kit.fontawesome.com/5120aaaf74.js" crossorigin="anonymous"></script>
    <!-- jQuery and Bootstrap Bundle (includes Popper) -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-Piv4xVNRyMGpqkS2by6br4gNJ7DXjqk09RmUpJ8jgGtD7zP9yug3goQfGII0yAns" crossorigin="anonymous"></script>
    <!-- Stripe Payments -->
    <script src="https://js.stripe.com/v3/"></script>
    {% endblock %}

    {% block extra_js %}
    {% endblock %}
    
    <title>RefereE-Pay {% block extra_title %}{% endblock %}</title>
</head>
<body class="d-flex flex-column min-vh-100">
    
    <!-- Navbar adapted from Bootstrap:- https://getbootstrap.com/docs/4.6/components/navbar/ -->
    <nav class="navbar navbar-expand-lg navbar-light bg-transparent">
        <a class="navbar-brand" href="{% url 'home' %}">
            <img id="website-logo" src="{{ MEDIA_URL }}refereepay-logo.png" alt="Website logo">
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'home' %}">Home
                        <span class="sr-only">(current)</span> 
                        <i class="fas fa-home"></i>
                    </a>                        
                </li>
                
                <li class="nav-item {% if request.path == home_url %} active {%endif%}">
                    <a class="nav-link" href="{% url 'matches' %}">Fixtures
                        <i class="fas fa-futbol"></i>
                    </a>
                </li>
                <li class="nav-item {% if request.path == home_url %} active {%endif%}">
                    <a class="nav-link" href="{% url 'clubs' %}">Clubs
                        <i class="fas fa-shield-alt"></i>
                    </a>
                </li>                
                <!-- User Account Dropdown Menu -->
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="accountDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        My Account
                    </a>
                    <div class="dropdown-menu" aria-labelledby="accountDropdown">
                        {% if request.user.is_authenticated %}
                        <a class="dropdown-item disabled" href="{% url 'account_login' %}">Log In
                            <span class="float-right text-success">
                                <i class="fas fa-sign-in-alt"></i>
                            </span>
                        </a>
                        {% else %}
                            <a class="dropdown-item" href="{% url 'account_login' %}">Log In
                                <span class="float-right text-success">
                                    <i class="fas fa-sign-in-alt"></i>
                                </span>
                            </a>
                        {% endif %}                        
                        {% if request.user.is_authenticated %}
                            {% if not request.user.userprofile.role == 'Referee' or not 'None' %}                                                            
                                <div class="dropdown-divider"></div>  
                                <a class="dropdown-item" href="{% url 'review_bag' %}">Kit Bag
                                    <span class="float-right">
                                        <i class="fas fa-shopping-bag"></i>
                                    </span>
                                </a>
                                <a class="dropdown-item" href="{% url 'checkout' %}">Checkout
                                    <span class="float-right">
                                        <i class="fas fa-cash-register"></i>
                                    </span>
                                </a>                                
                            {% endif %}
                            <a class="dropdown-item" href="{% url 'profile' %}">Profile
                                <span class="float-right">
                                    <i class="fas fa-user"></i>
                                </span>
                            </a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="{% url 'account_logout' %}">Log Out
                                <span class="float-right text-danger">
                                    <i class="fas fa-sign-out-alt"></i>
                                </span>
                            </a>                            
                        {% endif %}
                    </div>
                </li>
                <!-- Admin User Dropdown Menu -->
                {% if request.user.is_superuser %}
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="adminDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Admin
                        </a>
                        <div class="dropdown-menu" aria-labelledby="adminDropdown">
                            <a class="dropdown-item" href="{% url 'add_competition' %}">Add Comp'
                                <span class="float-right">
                                    <i class="fas fa-trophy"></i>
                                </span>
                            </a>
                            <a class="dropdown-item" href="{% url 'add_club' %}">Add Club
                                <span class="float-right">
                                    <i class="fas fa-shield-alt"></i>
                                </span>
                            </a>
                            <a class="dropdown-item" href="{% url 'add_team' %}">Add Team
                                <span class="float-right">
                                    <i class="fas fa-users"></i>
                                </span>
                            </a>
                            <a class="dropdown-item" href="{% url 'add_match' %}">Add Match
                                <span class="float-right">
                                    <i class="fas fa-futbol"></i>
                                </span>
                            </a>                         
                            <a class="dropdown-item" href="{% url 'admin:index' %}">DB Admin
                                <span class="float-right">
                                    <i class="fas fa-edit"></i>
                                </span>
                            </a>                             
                        </div>
                    </li>
                {% endif %}
                <!-- Grand Total display and link to Kit bag (not req'd for Ref's or reular users) -->
                {% if request.user.is_authenticated %}
                    {% if not request.user.userprofile.role == 'Referee' or not 'None' %}
                        <li class="nav-item">
                            <a class="nav-link {% if grand_total > 0 %}grand-total{% else %}zero-total{% endif %}" href="{% url 'review_bag' %}">
                                <i class="fas fa-shopping-bag"></i>
                                {% if grand_total %}
                                    £ {{ grand_total|floatformat:2 }}
                                {% else %}
                                    £0.00
                                {% endif %}
                            </a>
                        </li>
                    {% endif %}
                {% endif %}        
            </ul>            
            <form method="GET" action="{% url 'matches' %}" class="form-inline my-2 my-lg-0">
                <input class="form-control mr-sm-2" type="search" name="q" placeholder="Search for a team" aria-label="Search">
                <button class="btn green-btn my-2 my-sm-0" type="submit">Search</button>
            </form>            
        </div>
    </nav>    
    <!-- App Messages -->
    {% if messages %}
        <div class="message-container">
            {% for message in messages %}
                {% with message.level as level %}
                    {% if level == 25 %}
                        {% include 'includes/toasts/toast_success.html' %}
                    {% elif level == 30 %}
                        {% include 'includes/toasts/toast_warning.html' %}
                    {% elif level == 40 %}
                        {% include 'includes/toasts/toast_error.html' %}
                    {% else %}
                        {% include 'includes/toasts/toast_info.html' %}                    
                    {% endif %}
                {% endwith %}                
            {% endfor %}
        </div>
    {% endif %}

    {% block page_header %}
    {% endblock %}

    {% block content %}
    {% endblock %}
    <!-- Website Footer - FA links -->
    <footer class="mt-auto">
        <div class="row no-gutters justify-content-center">            
            <div class="col-2 text-center fa-link mx-1">
                <a href="https://www.thefa.com/" target="_blank" rel="noreferrer" aria-label="English FA">
                    <img class="fa-logo" src="https://upload.wikimedia.org/wikipedia/en/thumb/d/d5/FA_crest_2009.svg/1200px-FA_crest_2009.svg.png" alt="The FA">
                </a>
            </div>
            <div class="col-2 text-center fa-link mx-1">
                <a href="https://www.irishfa.com/" target="_blank" rel="noreferrer" aria-label="Northern Irish FA">
                    <img class="fa-logo" src="https://upload.wikimedia.org/wikipedia/en/thumb/2/25/Irish_Football_Association_logo.svg/1200px-Irish_Football_Association_logo.svg.png" alt="The Irish FA">
                </a>
            </div>
            <div class="col-2 text-center fa-link mx-1">
                <a href="https://www.scottishfa.co.uk/" target="_blank" rel="noreferrer" aria-label="Scottish FA">
                    <img class="fa-logo" src="https://upload.wikimedia.org/wikipedia/en/thumb/9/9e/Scottish_Football_Association_Logo.svg/1200px-Scottish_Football_Association_Logo.svg.png" alt="The Scottis FA">
                </a>
            </div>
            <div class="col-2 text-center fa-link mx-1">
                <a href="https://www.faw.cymru/en/" target="_blank" rel="noreferrer" aria-label="Welsh FA">
                    <img class="fa-logo" src="https://upload.wikimedia.org/wikipedia/en/thumb/d/dc/Wales_national_football_team_logo.svg/1200px-Wales_national_football_team_logo.svg.png" alt="">
                </a>
            </div>
            <div class="col-2 text-center fa-link mx-1">
                <a href="https://www.fai.ie/" target="_blank" rel="noreferrer" aria-label="Irish FA">
                    <img class="fa-logo" src="https://upload.wikimedia.org/wikipedia/en/thumb/c/c3/Football_Association_of_Ireland_logo.svg/1200px-Football_Association_of_Ireland_logo.svg.png" alt="">
                </a>
            </div>            
        </div>
        <!-- Website Footer - Developer section -->        
        <div class="row no-gutters mt-2">
            <div class="col-3 py-2 text-center">
                <a class="social-link" href="https://github.com/GazzaJ" target="_blank" rel="noreferrer" aria-label="Github Profile">
                    <i class="fab fa-github-square footer-item"></i>
                </a>
            </div>
            <div class="col-6 text-center">
                <a class="email footer-item" href="mailto:johnge71@gmail.com">johnge71@gmail.com</a>
                <p class="copyright">
                    <i class="far fa-copyright"></i>
                    2021 | Gareth John
                </p>
            </div>
            <div class="col-3 py-2 text-center">
                <a class="social-link" href="https://www.linkedin.com/in/gareth-john-chelt/" target="_blank" rel="noreferrer" aria-label="LinkedIn Profile">
                    <i class="fab fa-linkedin footer-item"></i>
                </a>
            </div>
        </div>
    </footer>

    {% block postloadjs %}
        <script>            
            // ----- Toasts -----
            $('.toast').toast('show');
            // ----- Footer Links Toggle ------            
            $(document).ready(function() {
                $(".footer-item").hover(function() {
                    $(this).toggleClass("toggle-footer");
                });
                // ----- Button Toggle effect -----
                $(".green-btn").hover(function() {
                $(this).toggleClass("toggle-grn");
                });
                $(".blue-btn").hover(function() {
                    $(this).toggleClass("toggle-blu");
                });
                $(".red-btn").hover(function() {
                    $(this).toggleClass("toggle-red");
                });
                $(".yellow-btn").hover(function() {
                    $(this).toggleClass("toggle-warning");
                });
                $(".info-btn").hover(function() {
                    $(this).toggleClass("toggle-info");
                });
                $(".btt-icon").hover(function() {
                    $(this).toggleClass("btt-toggle");
                });
            });
        </script>
    {% endblock %}

  </body>
</html>