/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.3.6,
* Autoprefixer: v10.3.1
* Browsers: last 4 version
*/

body {
    background: url('/media/assistant_ref.jpg') no-repeat center center fixed;
    background-size: cover;    
}

.checkout-overlay {
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    position: fixed;
    background: rgb(255, 255, 255, 0.8);
    z-index: -9999;
}

.checkout-badge {
    max-height: 4rem;    
    -o-object-fit: contain;    
       object-fit: contain;
}

#payment-form {
    background-color: #e6eaee;
    border-radius: 0.5rem;
}

.checkout-match {
    background-color: #fff;
}

/* ---------- Checkout Success ---------- */

.success-heading {
    font-size: 1.3rem;
    font-weight: bold;
    color: #011e41;
}

/* ---------- Stripe Elements ----------*/

.StripeElement,
.stripe-style-input {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  height: 40px;
  padding: 10px 12px;
  border: 1px solid transparent;
  border-radius: 3px;
  background-color: white;
  -webkit-box-shadow: 0 1px 3px 0 #e6ebf1;
          box-shadow: 0 1px 3px 0 #e6ebf1;
  -webkit-transition: box-shadow 150ms ease;
  -webkit-transition: -webkit-box-shadow 150ms ease;
  transition: -webkit-box-shadow 150ms ease;
  -o-transition: box-shadow 150ms ease;
  transition: box-shadow 150ms ease;
  transition: box-shadow 150ms ease, -webkit-box-shadow 150ms ease;
}

.StripeElement--focus,
.stripe-style-input:focus,
.stripe-style-input:active {
  -webkit-box-shadow: 0 1px 3px 0 #cfd7df;
          box-shadow: 0 1px 3px 0 #cfd7df;
}

.StripeElement--webkit-autofill {
  background-color: #fefde5 !important;
}

.stripe-style-input::-webkit-input-placeholder {
    color: #aab7c4;
}

.stripe-style-input::-moz-placeholder {
    color: #aab7c4;
}

.stripe-style-input:-ms-input-placeholder {
    color: #aab7c4;
}

.stripe-style-input::-ms-input-placeholder {
    color: #aab7c4;
}

.stripe-style-input::placeholder {
    color: #aab7c4;
}

.fieldset-label {
    position: relative;
    right: .5rem;
}

#payment-form .form-control,
#card-element {
    color: #000;
    border: 1px solid #000;
}

select,
select option {
    color: #000;
}

select:invalid,
select option[value=""] {
    color: #aab7c4 !important;
}

/* ---------- Checkout Loader ----------*/

#loading-overlay {
    
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url('/media/pitch-markings.jpg') no-repeat center center fixed;    
    z-index: 9999;    
}

.loading-spinner {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin: 0;
    height: 100%;
    color:#fff
}

/* ----- Adapted from (https://codepen.io/glafontaine/pen/geMYaJ) ----- */
.box {
    margin: 0 auto;
    width: 60px;
    height: 160px;    
    position: relative;
}

.shadow {
    position: absolute;
    width: 100%;
    height: 10px;
    background-color: rgb(235, 235, 235);
    bottom: 0;
    border-radius: 100%;
    -webkit-transform: scaleX(.6);
        -ms-transform: scaleX(.6);
            transform: scaleX(.6);
    opacity: .6;
    -webkit-animation: shadowScale 1s linear infinite;
            animation: shadowScale 1s linear infinite;
}

.gravity {
    width: 60px;
    height: 60px;
    -webkit-animation: bounce 1s cubic-bezier(0.68, 0.35, 0.29, 0.54) infinite;
            animation: bounce 1s cubic-bezier(0.68, 0.35, 0.29, 0.54) infinite;
}

.ball {
    width: 60px;
    height: 60px;
    background-image: url('https://image.flaticon.com/icons/svg/33/33736.svg');
    background-size: cover;
    background-color: #fff;
    border-radius: 30px;
    -webkit-animation: roll .6s linear infinite;
            animation: roll .6s linear infinite;
}

@-webkit-keyframes roll {
    0% {}

    100% {
        -webkit-transform: rotate(360deg);
                transform: rotate(360deg)
    }
}

@keyframes roll {
    0% {}

    100% {
        -webkit-transform: rotate(360deg);
                transform: rotate(360deg)
    }
}

@-webkit-keyframes bounce {
    0% {}

    50% {
        -webkit-transform: translateY(100px);
                transform: translateY(100px)
    }

    100% {}
}

@keyframes bounce {
    0% {}

    50% {
        -webkit-transform: translateY(100px);
                transform: translateY(100px)
    }

    100% {}
}

@-webkit-keyframes shadowScale {
    0% {}

    50% {
        -webkit-transform: scaleX(1);
                transform: scaleX(1);
        opacity: .8;
    }

    100% {}
}

@keyframes shadowScale {
    0% {}

    50% {
        -webkit-transform: scaleX(1);
                transform: scaleX(1);
        opacity: .8;
    }

    100% {}
}

/* ---------- Media Queries ----------*/

@media (max-width: 767.9px) {
    
    .container {
        width: 95vw;
    }

    p {
        font-size: 0.9rem;
    }

    .border-green {
        padding-right: 0;
    }

    .cos {
        font-size: 0.8rem;
    }

    .sub-header {
        font-size: 1.5rem;
    }

    .checkout-item {
        padding-top: 1.25rem;
    }
}