body {
    background: url('/media/referee.jpg') no-repeat center center fixed;
    background-size: cover;    
}

.checkout-overlay {
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    position: fixed;
    background: rgb(255, 255, 255, 0.8);
    z-index: -9999;
}

.checkout-badge {
    height: auto;    
    object-fit: contain;
}

#payment-form {
    background-color: #e6eaee;
}

.checkout-match {
    background-color: #fff;
}