<!-- Toast adapted from Bootstrap: https://getbootstrap.com/docs/4.6/components/toasts/ 
some customisation copied from CI Boutique Ado Project-->
<div class="toast" role="alert" aria-live="assertive" aria-atomic="true" data-autohide="false">
    <div class="arrow-up arrow-warning"></div>
    <div class="w-100 toast-capper bg-warning"></div>
    <div class="toast-header warning">
        <strong class="mr-auto">Warning!</strong>
        <button type="button" class="ml-2 mb-1 close" data-dismiss="toast" aria-label="Close">
            <span aria-hidden="true" class="text-black"><i class="fas fa-times"></i></span>
        </button>
    </div>
    <div class="toast-body">
        <div class="row">
            <div class="col-12 col-md-8 mt-2">
                <p class="toast-msg">{{ message }}</p>
            </div>
            <div class="col-12 col-md-4 text-center">
                <img class="toast-img" src="{{ MEDIA_URL }}yellow-card.png" alt="Success">
            </div>
        </div>        
    </div>
</div>